.footer {
    height: 200px;
    width: 100%;
    min-width: 1000px;
    background-color: #F9F9F9;
    z-index: 1000;
    display:flex;
    align-items: center;
    margin-top:30px;
}

.footer_contents {
    position: relative;
    padding-left: 100px;
    width:30%;
}

.footer_contents2 {
    padding-right:100px;
    display: flex;
    flex-direction: row-reverse;
    position:relative;
    gap:50px;
    border-bottom: 1px solid;
    width:800px;
}

.reverse_p img {
    margin-right: 5px;
    margin-top:10px;
    width: 40px;
    height:40px;
}

.github {
    margin-left:-5px;
}

