.footer {
    height: 200px;
    width: 100%;
    min-width: 1000px;
    background-color: #F9F9F9;
    z-index: 1000;
    display:flex;
    align-items: center;
    margin-top:30px;
    overflow: hidden;
}

.footer_contents {
    padding-left: 100px; 
    float:left;
    width:50%;
}

.footer_contents2 {
    padding-right:100px;
    display: flex;
    flex-direction: row-reverse;
    gap:50px;
    border-bottom: 1px solid darkgray;
    width:50%;
}

.footer_contents2 h3 {
 /*이거 질문!*/
}

.reverse_p img {
    margin-right: 5px;
    margin-top:10px;
    width: 40px;
    height:40px;
}

.github {
    margin-left:-5px;
}

