.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 85px;
    background-color: rgb(255, 255, 238);
    box-shadow: 0px 2px 0px rgb(167, 165, 165);
}

.headerContents {
    display: flex;
    width: 96%;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    text-align: center;
    align-content: stretch;
    justify-content: center;
    user-select: none;
}

.logo {
    display: inline;
    margin: auto;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: bold;
    
}

.navigation {
    display: flex;
    width: 60%;
    margin-left: 7vi;
    font-weight: bold;
    font-size: 1.2vw;
    padding-top: 20px;
}

.mainmenu > li{
    float: left;
    list-style: none;
}

.mainmenu > li + li {
    margin-left: 7vw;
}

/* ul, li 요소 초기화 */
/* .mainmenu submenu { 
margin: 0;
padding: 0;
list-style-type: none;
} */

.submenu li {
    position: absolute;
}



.stack {
    width: 15vw;
    align-items: center;
    justify-content: center;
}

@keyframes slide-fade-in-dropdown-animation {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .slide-fade-in-dropdown {
    overflow: hidden;
  }
  
  .slide-fade-in-dropdown > ul {
    animation: slide-fade-in-dropdown-animation .4s ease;
  }
  
  @keyframes slide-fade-out-dropdown-animation {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
  
  .slide-fade-out-dropdown {
    overflow: hidden;
  }
  
  .slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
  }
  
  .components-dropdown > ul {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
  }