.layout {
  margin-top: 80px;
  min-width: 1000px;
}

.main {
  padding-top: 5px;
  min-height: calc(1200px - 180px);
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* { font-family: 'GmarketSansMedium';}