@media only screen and (max-width: 789px) {
    .returnTop {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (min-width: 789px) {
    .returnTop {
        width: 50px;
        height: 50px;
    }
}

.returnTop {
    position: fixed;
    bottom: 80px;
    right: 30px;
    background-image: url("../../public/images/navigator/upArrow.png");
    background-size: cover;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.activeReturnTop {
    opacity: 0.8;
    visibility: visible;
}